<ul>
    <li><%= link_to "Home Page", controller: 'welcome' %></li>
    <li><%= link_to "Characters Page", controller: 'characters' %></li>
    <li><%= link_to "Create A New Character", new_character_path %></li>
</ul>
<body>
    </br>
<h1> Welcome to the Character Generator</h1>
    </br>
    <p>
        Welcome. This application will allow you to create a RPG character and then</br>
        add campaigns to your characters. 
        </br></br>
        Continue to the Character Page to see created characters or Create a New Character page</br>
        to create one yourself.
    </p>
</body>