
<body>
    <h1>RPG GEN MASTERS</h1> 
    <%= form_for :character, url: characters_path do |f| %>
    </h2> Character Name: </h2>
      <p>     <%= f.label :Name %><br>     
      <%= f.text_field :Name %>   </p>    
      <p>     <%= f.submit %>   </p>   <% end %>
</body>